/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007e80;
    color: rgb(201, 222, 19);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(195, 204, 23);
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #f0f369;
    color: rgb(99, 225, 15);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin: 5px 0;
}
